<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/studentmanager/list">Danh sách sinh viên</a> </li>
    <li class="breadcrumb-item active">Sửa</li>
</ol>
<h1 class="display-4">Sửa thông tin sinh viên</h1>
<form method="POST" action="/studentmanager/update">
    <div class="form-group">
        <label for="name">Họ và tên</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div class="form-group">
        <label for="maSV">Mã sinh viên</label>
        <input type="text" name="maSV" class="form-control">
    </div>
    <input type="submit" value="Edit" class="btn  btn-primary">   
    <!-- <input type="text" name="oldName" style="visibility: hidden;"  value= <%=student.name %>   >
    <input type="text" name="oldMaSV" style="visibility: hidden;"  value= <%=student.maSV %>   > -->
    <input type="text" name="id" style="visibility: hidden;"  value= <%=student.id %>   >
</form>
<h1><%= student.name %></h1>
<h1><%= student.maSV %></h1>